/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0
  ));
}
// #964900

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// SCSS layout flex mix will be place here

[layout]{
  flex: 1 1 auto;
}

[layout="row"] {
  display: flex;
  flex-direction: row;
}

[layout="column"] {
  display: flex;
  flex-direction: column;
}

